.heading{
    text-align: center;
}

form{    
    margin: 0 auto;
    width:250px;
    border: transparent;
}

#weatherBtn{
    background-color: aqua;
    width: 7.5em;
    border-radius: 1.5625em;
    text-align: center;
    font-family: fantasy;
    
}
#cityName{
    width:7.5em;
    height: auto;
    border-radius: 1.5625em;
}

.weatherIcon{
    border-style: outset;
    width: 8.5em;
}

.weekWeather{
    display:block;
    float: left;
    width: 15em;
}
#cityList{
position: absolute;
    top: 12.5em;
    left: 68.75em;
}